<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Search Movies</title>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body class="container">
<a style="align-content: center" class="btn btn-default" href="/id">Search Movies by Id</a>
<a class="btn btn-default" href="/title">Search Movies by Title</a>
</body>
</html>