<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Movies</title>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body>
<div>
  <a href="/" class="btn btn-info">home</a>
  <h4>Similar movies:</h4>
  <table class="table">
    <thead>
    <th>Movie name</th>
    <th>Movie release year</th>
    <th>Movie Overview</th>
    <th>Id</th>
    <th>Poster</th>
    </thead>
    <tbody th:each="movie : ${movies}">
    <td><a th:href="${'movie/id?movieId=' + movie.getId()}">[[${movie.getTitle()}]]</a></td>
    <td th:text="${movie.getReleaseDate()}"></td>
    <td th:text="${movie.getOverview()}"></td>
    <td th:text="${movie.getId()}"></td>
    <td><img th:if="${movie.getPosterPath()} != null" th:src="${'http://image.tmdb.org/t/p/w92/' + movie.getPosterPath()}">
      <img th:unless="${movie.getPosterPath()} != null" src="https://images-eu.ssl-images-amazon.com/images/I/01tojdfL9GL._BO1,204,203,200_QL40_.jpg"></td>
    </tbody>
  </table>
  <ul class="nav nav-pills">
    <li class="nav-item"
        th:each="i : ${#numbers.sequence(1,movies.totalPages)}">
      <a th:if="${i} <= 1000" th:href="${'/similar?id=' + search + '&page=' + i}" th:text="${i}" class="nav-link"
         th:classappend="(${currentPage == i}) ? 'active' : ''"></a></li>
  </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>